body{
    margin: 2.2%;
    background-color: #FCDEE0; /*rgb(255, 228, 228);*/
}

td{
    text-align: center;
}

tfoot{
    font-style: italic;
}

.enlacep{
    text-align: center;
    background-color: #d81f0e;
    margin: 1.5% 44%;
    padding: 4px;
    border: 2.6px solid #950E17;
    border-radius: 8px;
}

.enlacep:hover{
    background-color: #d81f0e;
    font-size: 1.2em;
}

.enla{
    color: white;
}

.enla:visited{
    color: #5a110a;
    background-color: #d81f0e;
    text-decoration: none;
}

.enla:hover{
    background-color: #d81f0e;
    color: #ffaeae;
}

.indice{
    margin: 20px 76% 20px 20px;
    padding: 8px 20px;
    border: 1.8px solid rgba(167, 0, 0, 0.918);
    background-color: rgb(255, 165, 165);
}

h1{
    text-align: center;
    background-color: red;
    color: white;
    margin: 1% 25% 1% 25%;
}

.imgUno{
    margin: 0.6% 1% 1% 1%;
    float: right;
}


.uno{
    width: 40%;
    height: 5%;
    float: left;
    margin: 0 6% 1% 6%;
    border: 4px double #A70F01;
}

.dos{
    width: 34%;
    height: 5%;
    float: left;
    margin: 1% 5% 1% 0;
    border: 4px double #A70F01;
}

.imgDos{
    margin: 0.6% 1% 1% 34%;
    float: right;
}

.tres{
    width: 46%;
    height: 6%;
    float: left;
    margin: 1% 5% 1% 0;
    border: 4px double #A70F01;
}

.imgTres{
    margin: 0.6% 1% 1% 16%;
    float: left;
}

.cuatro{
    width: 20%;
    height: 60%;
    float: left;
    margin: 1% 5% 1% 30%;
    border: 4px double #A70F01;
}

hr{
    height: 2px;
    background-color: #950E17;
    border: none;
}




 /* COLORES: #FCDEE0 #F37C84 #EA202C #950E17 #34090C MAS O MENOS  */