
body{
    background-color: lightskyblue;
}

h1{
    background-color: rgb(73, 231, 226);
    color: rgb(6, 21, 224);
}


img:hover{
    width: 22em;
    height: 18em;
    border: 6px solid red;
}

a:hover	{	
    border-color: red;
}